<div>
    <div id="headerwrap2">
        <header class="clearfix">
            <h1>iwishua</h1>
        </header>
    </div><!-- /headerwrap -->
    <div class="container">
        <dl>
        <dt>
            What is iwishua and how does it exist?</dt><br />

        <dd>
            The mission of iwishua is to provide a fun and engaging opportunity to reflect upon your friends and let
            them know you care. iwishua is an affiliate marketer of amazing products. The service allows you to browse
            through a catalog of the world’s most amazing products next to your own list of the world’s most
            amazing friends. Find something that your friend will like, make a wish and let them know!</dd><br />

        <dt>
            How does iwishua offer this service for free?</dt><br />

        <dd>
            The reality is, offering this service costs money. The way that iwishua is able to operate is by
            partnering with companies that sell these amazing products. We find special products then work out
            a marketing deal with the company who sells them.</dd><br />

        <dt>
            What kind of deal?</dt><br />

        <dd>
            Often, the most amazing gizmos, the most outstanding objects, the most delicious delicacies are
            created by individuals. These individuals look to advertisers like us to let the world know their
            products exist. So, in exchange for providing product visibility, companies offer incentives.
            iwishua is funded through these incentives. The process is called “Affiliate Marketing”.
            This means, we “market” products for the companies that manufacture and sell them. iwishua makes
            money when products being marketed through our service are actually purchased.</dd><br />

        <dt>
            Wait. What? I thought this was a free site!</dt><br />

        <dd>
            Yes, iwishua does not sell anything. It simply shows products that are available. There is no money
            exchanged between the user of the service and iwishua.com. In fact, we don’t even show prices. Because
            WISHING IS FREE!!!</dd><br />

        <dt>
            So, how do these affiliates know you helped make a sale?</dt><br />

        <dd>
            In a word: cookies. A cookie is a piece of information that is stored in your web browser history
            when you visit a site. Each product you see on iwishua contains a buy link to a website. If you click
            on the link, the website saves a cookie in your web browser history. This cookie contains information
            that identifies the iwishua service as the referrer. If you later decide to purchase an item from that
            website, the website looks for any referral cookies that exist in your browser history. If a referral
            cookie exists and is valid, the company pays a commission of the sale to iwishua.</dd><br />

        <dt>
            Does this mean I will be charged extra if there is a cookie on my machine?</dt><br />

        <dd>
            Not at all. The prices for products we market are not changed based on referrals.</dd><br />

        <dt>
            How do I remove these cookies?</dt><br />

        <dd>
            Clear your browser history.</dd><br />

        <dt>
            How common is this practice?</dt><br />

        <dd>
            Very common. It’s the reason Radio, TV, and the internet exist. Does the DJ of your
            favorite radio station sell car insurance? Not likely, but she is paid to market it.
            In exchange for listening to her talk about deals on car insurance, you get to hear the
            newest song for free.</dd><br />

    </dl>
    <br />
    <h4>
        iwishua does not intend to collect personal information.
        The integration with Facebook allows you to publish a wish on Facebook about you and your friends.</h4>
    </div>
</div>