<div>
<div id="headerwrap2">
    <header class="clearfix">
        <h1>iwishua</h1>
    </header>
</div><!-- /headerwrap -->
<div class="container">
    <h3>At iwishua, we respect your privacy</h3>
    <p>We do not intend to collect any personal information.
        The integration with Facebook allows you to post a wish on Facebook about you and your friends.
    </p>
    <p>
        Each product you see on iwishua contains a buy link to a website. If you click
        on the link, the website saves a cookie in your web browser history. This cookie contains information
        that identifies the iwishua service as the referrer. To remove these cookies, simply clear your browser history.
    </p>
</div>
</div>