<div>
    <div id="headerwrap">
        <header class="clearfix">
            <h1>iwishua <small>is simple...</small></h1>
        </header>
    </div><!-- /headerwrap -->
    <div class="jumbotron masthead">
        <div class="container">
            <p>Select a gift, select a friend and make a wish!
                I wish Tom a new sled. I wish Stan a trampoline. ...
                You have many friends. Let them know you think about them!
                Does Sandy really need that 30 foot inflatable snowman yard decoration?
                Heck yes she does! Let her know you care with a simple wish! &nbsp;
                <a href="#login" class="btn btn-primary btn-large btn-profile">Login with Facebook</a>
            </p>
        </div>
    </div>
</div>

