<!--
Wish View
-->
<div id="wish-content" ng-controller="WishController as wish">

    <div ng-show="wish.isBusy" class="wish-splash jumbotron">
        <span us-spinner="{radius: 30, width: 8, length: 16}" spinner-key="spinner-wish"></span>
    </div>

    <div ng-hide="wish.isBusy"
         ng-swipe-left="wish.navLeft($event)"
         ng-swipe-right="wish.navRight($event)">

        <!-- desktop nav controls -->
        <div masonry>
            <div ng-repeat="product in wish.products | filter:wish.filter"
                 ng-click="wish.details('{{ product.id }}')"
                 class="masonry-brick {{ product.className }}">

                <img class="{{ product.aligned }} product_pic img-rounded"
                     ng-src="{{ product.productImageUrl }}"
                     alt="{{ product.productTitle }}" />
                <p>{{ product.productName }}</p>

            </div>
        </div>

        <div ng-hide="wish.isPhone">

            <a ng-click="wish.navRight($event)"
               class="left carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-left"></span></a>

            <a ng-click="wish.navLeft($event)"
               class="right carousel-control" role="button">
                <span class="glyphicon glyphicon-chevron-right"></span></a>

        </div>


    </div>
</div>


