body {
    padding-top: 3.72em;
    padding-left: 0.625;
    /*padding-bottom: 40px;*/
    overflow: hidden;
}

.logo {
    font-family: 'Acme', sans-serif;
    font-size: 1.625em;
}

#fb-name {
    font-size: 1em;
}

/* @see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.wish-splash {
    height: 12.5em;

}

.popup {
    top:5%;
    right:50%;
    outline: none;
}


img.detail_pic {
    height: 200px;
    width: 200px;
    padding: 5px;
    border-radius: 10px;
}

img.friend_pic {
    height: 50px;
    width: 50px;
}

img.user_pic {
    height: 28px;
    width: 28px;
}


/* Base stylesheet - 320px (iPhone) */

img.product_pic {
    height: 5.5em;
    width: 5.5em;
    border-radius: .5em;
}

.masonry-brick.horz {
    width:  14em;
    height: 7em;
    font-size: 0.8em;
    background-color: #151515;
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
}

.masonry-brick.vert {
    width: 7em;
    height: 14em;
    font-size: 0.8em;
    background-color: #151515;
    margin: .5em;
    padding: .5em;
    border-radius: .5em;
}

.masonry-brick p {
    padding: .25em;
}


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.alignright {float:right; }
.alignleft {float:left; }
.aligncenter {display: block; margin-left: auto; margin-right: auto}

/* Breakpoint: 384px (Google Nexus4) */
@media all and (min-width: 24em) {

    img.product_pic {
        height: 5.5em;
        width: 5.5em;
        border-radius: .5em;
    }

    .masonry-brick.horz {
        width:  14em;
        height: 9em;
        font-size: 0.8em;
        background-color: #151515;
        margin: .5em;
        padding: .5em;
        border-radius: .5em;
    }

    .masonry-brick.vert {
        width: 9em;
        height: 14em;
        font-size: 0.8em;
        background-color: #151515;
        margin: .5em;
        padding: .5em;
        border-radius: .5em;
    }

    .masonry-brick p {
        padding: .25em;
    }


}

/* Breakpoint: 800px */
@media all and (min-width: 50em) {

    img.product_pic {
        height: 7em;
        width: 7em;
        border-radius: 1em;
    }
    .masonry-brick.horz {
        width:  18em;
        height: 9em;
        font-size: 1em;
        background-color: #151515;
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
    }

    .masonry-brick.vert {
        width: 9em;
        height: 14em;
        font-size: 1em;
        background-color: #151515;
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
    }

    .masonry-brick p {
        padding: 5px;
    }
}


#headerwrap {
    background: url(//cache.nebula.phx3.secureserver.net/obj/QTZBQTg2QUE3NDI4QkE4MzZFMjY6YTZlMGVlMTM1Yjc4YTdhZTVlOWI5ODBjZmUwY2ZiMjQ=) no-repeat center top;
    margin-top: -50px;
    padding-top:120px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    /*color:slateblue;*/
    margin-top: 0px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

#headerwrap p {
    /*color:#222;*/
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}

#headerwrap2 {
    background: url(//cache.nebula.phx3.secureserver.net/obj/QTZBQTg2QUE3NDI4QkE4MzZFMjY6YTZlMGVlMTM1Yjc4YTdhZTVlOWI5ODBjZmUwY2ZiMjQ=) no-repeat center top;
    margin-top: -50px;
    padding-top:120px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 250px;
    width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap2 h1 {
    /*color:slateblue;*/
    margin-top: 0px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 80px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
    font-family: 'Acme', sans-serif;
}

#headerwrap2 p {
    /*color:#222;*/
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #000;
}

